#rowDiv{
    margin:auto;
    text-align: center;
    width:100%;
}
#advanceSearch{
    padding-top: 5px;
    padding-left:100px;
    text-align: center;
}
input[type="text"]{
    height:35px;
    font-size: 20px;
}
#displayResult{
    margin: auto;
    width: 60%;
    border-radius:20px;
}

#nav_bar{
    margin-bottom: 0px;
    padding: 0;
    background-color: black;
    border-style: inherit;
}
.navbar-brand{
    position: absolute;
    width: 100%;
    left: 0;
    text-align: center;
    margin:0 auto;
}
body{
    font-family: 'Tangerine', serif;
    background:url("http://eskipaper.com/images/sea-wallpaper-31.jpg")center;
    font-size: 15px;
    margin: 0;
    padding: 0;
}
.weather{
    color: #4aa1f3 !important;
    font-size: 20px;
    font-weight:600;
}
#logo{
    max-height: 42px;
    margin-right: 8px;
    display: inline-block;
    margin-top: -12px;
}